.recipe {
  max-width: 1200px;
  margin: 40px auto;
  text-align: center;
  background: #fff;
  padding: 40px;
  box-sizing: border-box;
  position: relative;
}
.recipe ul {
  display: flex;
  padding: 0;
  justify-content: center;
  margin-top: 0;
}
.recipe li {
  list-style-type: none;
  margin-right: 10px;
}
.recipe li::after {
  content: ",";
}
.recipe li:last-child::after {
  content: ".";
}
.method {
  text-align: left;
  line-height: 1.5em;
}
.editIcon{
  position: absolute;
  top:20px;
  right: 30px;
  cursor: pointer;
  filter: invert(60%);
}

.recipe form{  
  color: #555;
  max-width: 480px;
  margin: 0px auto;
  text-align: left;
}
.recipe form label span {
  display: block;
  margin: 30px 0 10px;
}
.recipe form p {
  margin-top: 10px;
  font-size: 0.8em;
}
.recipe form button {
  display: block;
  width: 100px;
  font-size: 1em;
  color: #fff;
  padding: 8px 20px;
  border: 0;
  border-radius: 4px;
  background-color: #58249c;
  cursor: pointer;
  text-decoration: none;
  margin: 20px auto;
}
.ingredients {
  display: flex;
  align-items: center;
}
.ingredients .btn {
  margin: 0 0 0 10px;
  text-wrap:nowrap;
}
/* dark mode */
.recipe.dark {
  background: #555;
  color: #e4e4e4;
}
